!/.gitignore
!*/.gitkeep

.htaccess
.idea
*.log

wp-config.php
app/kusanagi/DocumentRoot/wp-content/advanced-cache.php
app/kusanagi/DocumentRoot/wp-content/cache/
app/kusanagi/DocumentRoot/wp-content/upgrade/
app/kusanagi/DocumentRoot/wp-content/uploads/
app/kusanagi/DocumentRoot/wp-cache-config.php
app/kusanagi/DocumentRoot/plugins/hello.php
app/kusanagi/DocumentRoot/translate-accelerator/

app/kusanagi/DocumentRoot/upload/*.json
app/kusanagi/DocumentRoot/cron/log/*

readme.html
license.txt

docker/test
docker/nginx/log/*
docker/php/log/*

docker-compose.yml

*.pem
*.key
*.crt
